[mcu cp_ecm_1]
serial:  /dev/serial/by-id/usb-Klipper_stm32f103xe_34FF6F063132503115331243-if00
restart_method: command

[temperature_sensor ecm_1_temp]
sensor_type: temperature_mcu
sensor_mcu: cp_ecm_1
min_temp: 0
max_temp: 100

[gcode_macro T4]
gcode:
   {% set is_print_active = printer['virtual_sdcard'].is_active %}
   {% set BYMACRO = params.BYMACRO %} #find the extruder value
    #if not called by macro during print, then ignore request
   {% if (not is_print_active) or (BYMACRO==1)  %}
    SYNC_EXTRUDER_MOTION EXTRUDER=ex1 MOTION_QUEUE=
    SYNC_EXTRUDER_MOTION EXTRUDER=ex2 MOTION_QUEUE=
    SYNC_EXTRUDER_MOTION EXTRUDER=ex3 MOTION_QUEUE=
    SYNC_EXTRUDER_MOTION EXTRUDER=ex4 MOTION_QUEUE=
    SYNC_EXTRUDER_MOTION EXTRUDER=ex5 MOTION_QUEUE=extruder
    SYNC_EXTRUDER_MOTION EXTRUDER=ex6 MOTION_QUEUE=
    SYNC_EXTRUDER_MOTION EXTRUDER=ex7 MOTION_QUEUE=
    SYNC_EXTRUDER_MOTION EXTRUDER=ex8 MOTION_QUEUE=
    SET_LED LED=mmb_neopixel RED=0.2 GREEN=0.0 BLUE=0.0 WHITE=0.0
   SET_LED LED=mmb_neopixel RED=0.0 GREEN=0.2 BLUE=0.0 WHITE=0.0 INDEX=4 TRANSMIT=1 #backwards
  _RUNOUT_SENSORS EXTRUDER=5
 {% endif %}




[gcode_macro T5]
gcode:
   {% set is_print_active = printer['virtual_sdcard'].is_active %}
   {% set BYMACRO = params.BYMACRO %} #find the extruder value
    #if not called by macro during print, then ignore request
   {% if (not is_print_active) or (BYMACRO==1)  %}
    SYNC_EXTRUDER_MOTION EXTRUDER=ex1 MOTION_QUEUE=
    SYNC_EXTRUDER_MOTION EXTRUDER=ex2 MOTION_QUEUE=
    SYNC_EXTRUDER_MOTION EXTRUDER=ex3 MOTION_QUEUE=
    SYNC_EXTRUDER_MOTION EXTRUDER=ex4 MOTION_QUEUE=
    SYNC_EXTRUDER_MOTION EXTRUDER=ex5 MOTION_QUEUE=
    SYNC_EXTRUDER_MOTION EXTRUDER=ex6 MOTION_QUEUE=extruder
    SYNC_EXTRUDER_MOTION EXTRUDER=ex7 MOTION_QUEUE=
    SYNC_EXTRUDER_MOTION EXTRUDER=ex8 MOTION_QUEUE=
    SET_LED LED=mmb_neopixel RED=0.2 GREEN=0.0 BLUE=0.0 WHITE=0.0
   SET_LED LED=mmb_neopixel RED=0.0 GREEN=0.2 BLUE=0.0 WHITE=0.0 INDEX=3 TRANSMIT=1 #backwards
  _RUNOUT_SENSORS EXTRUDER=6
  {% endif %}

    

[gcode_macro T6]
gcode:
  {% set is_print_active = printer['virtual_sdcard'].is_active %}
   {% set BYMACRO = params.BYMACRO %} #find the extruder value
    #if not called by macro during print, then ignore request
   {% if (not is_print_active) or (BYMACRO==1)  %}
    SYNC_EXTRUDER_MOTION EXTRUDER=ex1 MOTION_QUEUE=
    SYNC_EXTRUDER_MOTION EXTRUDER=ex2 MOTION_QUEUE=
    SYNC_EXTRUDER_MOTION EXTRUDER=ex3 MOTION_QUEUE=
    SYNC_EXTRUDER_MOTION EXTRUDER=ex4 MOTION_QUEUE=
    SYNC_EXTRUDER_MOTION EXTRUDER=ex5 MOTION_QUEUE=
    SYNC_EXTRUDER_MOTION EXTRUDER=ex6 MOTION_QUEUE=
    SYNC_EXTRUDER_MOTION EXTRUDER=ex7 MOTION_QUEUE=extruder
    SYNC_EXTRUDER_MOTION EXTRUDER=ex8 MOTION_QUEUE=
    SET_LED LED=mmb_neopixel RED=0.2 GREEN=0.0 BLUE=0.0 WHITE=0.0
   SET_LED LED=mmb_neopixel RED=0.0 GREEN=0.2 BLUE=0.0 WHITE=0.0 INDEX=2 TRANSMIT=1 #backwards
   _RUNOUT_SENSORS EXTRUDER=7
    {% endif %}

[gcode_macro T7]
gcode:
 {% set is_print_active = printer['virtual_sdcard'].is_active %}
   {% set BYMACRO = params.BYMACRO %} #find the extruder value
    #if not called by macro during print, then ignore request
   {% if (not is_print_active) or (BYMACRO==1)  %}
    SYNC_EXTRUDER_MOTION EXTRUDER=ex1 MOTION_QUEUE=
    SYNC_EXTRUDER_MOTION EXTRUDER=ex2 MOTION_QUEUE=
    SYNC_EXTRUDER_MOTION EXTRUDER=ex3 MOTION_QUEUE=
    SYNC_EXTRUDER_MOTION EXTRUDER=ex4 MOTION_QUEUE=
    SYNC_EXTRUDER_MOTION EXTRUDER=ex5 MOTION_QUEUE=
    SYNC_EXTRUDER_MOTION EXTRUDER=ex6 MOTION_QUEUE=
    SYNC_EXTRUDER_MOTION EXTRUDER=ex7 MOTION_QUEUE=
    SYNC_EXTRUDER_MOTION EXTRUDER=ex8 MOTION_QUEUE=extruder
    SET_LED LED=mmb_neopixel RED=0.2 GREEN=0.0 BLUE=0.0 WHITE=0.0
   SET_LED LED=mmb_neopixel RED=0.0 GREEN=0.2 BLUE=0.0 WHITE=0.0 INDEX=1 TRANSMIT=1 #backwards
  _RUNOUT_SENSORS EXTRUDER=8
 {% endif %}


[extruder_stepper ex5]

extruder:extruder
step_pin:cp_ecm_1:PB13
dir_pin: !cp_ecm_1:PB12
enable_pin: !cp_ecm_1:PB14
microsteps: 16
rotation_distance: 7.757

[extruder_stepper ex6]

extruder:extruder
step_pin: cp_ecm_1:PB15
dir_pin: !cp_ecm_1:PC6
enable_pin: !cp_ecm_1:PC7
microsteps: 16
rotation_distance: 7.757


[extruder_stepper ex7]

extruder:extruder
step_pin: cp_ecm_1:PA8
dir_pin: !cp_ecm_1:PC9
enable_pin: !cp_ecm_1:PC8
microsteps: 16
rotation_distance: 7.757

[extruder_stepper ex8]

extruder: extruder
step_pin: cp_ecm_1:PC12
dir_pin: !cp_ecm_1:PC10
enable_pin: !cp_ecm_1:PC11
microsteps: 16
rotation_distance: 7.757