[mcu cp_kcm]
#serial: /dev/serial/by-id/usb-Klipper_stm32f103xe_34FF73063132503122181243-if00
serial: /dev/serial/by-id/usb-kcm_stm32f103xe_31FFD905474D393231820457-if00
restart_method: command


[temperature_sensor kcm_temp]
sensor_type: temperature_mcu
sensor_mcu: cp_kcm
min_temp: 0
max_temp: 100



[gcode_macro _T_ALL]
gcode:
    SYNC_EXTRUDER_MOTION EXTRUDER=ex1 MOTION_QUEUE=extruder
    SYNC_EXTRUDER_MOTION EXTRUDER=ex2 MOTION_QUEUE=extruder
    SYNC_EXTRUDER_MOTION EXTRUDER=ex3 MOTION_QUEUE=extruder
    SYNC_EXTRUDER_MOTION EXTRUDER=ex4 MOTION_QUEUE=extruder
    SYNC_EXTRUDER_MOTION EXTRUDER=ex5 MOTION_QUEUE=extruder
    SYNC_EXTRUDER_MOTION EXTRUDER=ex6 MOTION_QUEUE=extruder
    SYNC_EXTRUDER_MOTION EXTRUDER=ex7 MOTION_QUEUE=extruder
    SYNC_EXTRUDER_MOTION EXTRUDER=ex8 MOTION_QUEUE=extruder

[gcode_macro T0]
gcode:
   {% set is_print_active = printer['virtual_sdcard'].is_active %}
   {% set BYMACRO = params.BYMACRO %} #find the extruder value
    #if not called by macro during print, then ignore request
   {% if (not is_print_active) or (BYMACRO==1)  %}
    SYNC_EXTRUDER_MOTION EXTRUDER=ex1 MOTION_QUEUE=extruder
    SYNC_EXTRUDER_MOTION EXTRUDER=ex2 MOTION_QUEUE=
    SYNC_EXTRUDER_MOTION EXTRUDER=ex3 MOTION_QUEUE=
    SYNC_EXTRUDER_MOTION EXTRUDER=ex4 MOTION_QUEUE=
    SYNC_EXTRUDER_MOTION EXTRUDER=ex5 MOTION_QUEUE=
    SYNC_EXTRUDER_MOTION EXTRUDER=ex6 MOTION_QUEUE=
    SYNC_EXTRUDER_MOTION EXTRUDER=ex7 MOTION_QUEUE=
    SYNC_EXTRUDER_MOTION EXTRUDER=ex8 MOTION_QUEUE=
    SET_LED LED=mmb_neopixel RED=0.2 GREEN=0.0 BLUE=0.0 WHITE=0.0
   SET_LED LED=mmb_neopixel RED=0.0 GREEN=0.2 BLUE=0.0 WHITE=0.0 INDEX=8 TRANSMIT=1 #backwards
   _RUNOUT_SENSORS EXTRUDER=1
   {% endif %}
[gcode_macro T1]
gcode:
   {% set is_print_active = printer['virtual_sdcard'].is_active %}
   {% set BYMACRO = params.BYMACRO %} #find the extruder value
    #if not called by macro during print, then ignore request
   {% if (not is_print_active) or (BYMACRO==1)  %}
    SYNC_EXTRUDER_MOTION EXTRUDER=ex1 MOTION_QUEUE=
    SYNC_EXTRUDER_MOTION EXTRUDER=ex2 MOTION_QUEUE=extruder
    SYNC_EXTRUDER_MOTION EXTRUDER=ex3 MOTION_QUEUE=
    SYNC_EXTRUDER_MOTION EXTRUDER=ex4 MOTION_QUEUE=
    SYNC_EXTRUDER_MOTION EXTRUDER=ex5 MOTION_QUEUE=
    SYNC_EXTRUDER_MOTION EXTRUDER=ex6 MOTION_QUEUE=
    SYNC_EXTRUDER_MOTION EXTRUDER=ex7 MOTION_QUEUE=
    SYNC_EXTRUDER_MOTION EXTRUDER=ex8 MOTION_QUEUE=
    SET_LED LED=mmb_neopixel RED=0.2 GREEN=0.0 BLUE=0.0 WHITE=0.0
   SET_LED LED=mmb_neopixel RED=0.0 GREEN=0.2 BLUE=0.0 WHITE=0.0 INDEX=7 TRANSMIT=1 #backwards
   _RUNOUT_SENSORS EXTRUDER=2
   {% endif %}
[gcode_macro T2]
gcode:
    {% set is_print_active = printer['virtual_sdcard'].is_active %}
   {% set BYMACRO = params.BYMACRO %} #find the extruder value
    #if not called by macro during print, then ignore request
   {% if (not is_print_active) or (BYMACRO==1)  %}
    SYNC_EXTRUDER_MOTION EXTRUDER=ex1 MOTION_QUEUE=
    SYNC_EXTRUDER_MOTION EXTRUDER=ex2 MOTION_QUEUE=
    SYNC_EXTRUDER_MOTION EXTRUDER=ex3 MOTION_QUEUE=extruder
    SYNC_EXTRUDER_MOTION EXTRUDER=ex4 MOTION_QUEUE=
    SYNC_EXTRUDER_MOTION EXTRUDER=ex5 MOTION_QUEUE=
    SYNC_EXTRUDER_MOTION EXTRUDER=ex6 MOTION_QUEUE=
    SYNC_EXTRUDER_MOTION EXTRUDER=ex7 MOTION_QUEUE=
    SYNC_EXTRUDER_MOTION EXTRUDER=ex8 MOTION_QUEUE=
    SET_LED LED=mmb_neopixel RED=0.2 GREEN=0.0 BLUE=0.0 WHITE=0.0
   SET_LED LED=mmb_neopixel RED=0.0 GREEN=0.2 BLUE=0.0 WHITE=0.0 INDEX=6 TRANSMIT=1 #backwards
   _RUNOUT_SENSORS EXTRUDER=3
   {% endif %}
[gcode_macro T3]
gcode:
   {% set is_print_active = printer['virtual_sdcard'].is_active %}
   {% set BYMACRO = params.BYMACRO %} #find the extruder value
    #if not called by macro during print, then ignore request
   {% if (not is_print_active) or (BYMACRO==1)  %}
    SYNC_EXTRUDER_MOTION EXTRUDER=ex1 MOTION_QUEUE=
    SYNC_EXTRUDER_MOTION EXTRUDER=ex2 MOTION_QUEUE=
    SYNC_EXTRUDER_MOTION EXTRUDER=ex3 MOTION_QUEUE=
    SYNC_EXTRUDER_MOTION EXTRUDER=ex4 MOTION_QUEUE=extruder
    SYNC_EXTRUDER_MOTION EXTRUDER=ex5 MOTION_QUEUE=
    SYNC_EXTRUDER_MOTION EXTRUDER=ex6 MOTION_QUEUE=
    SYNC_EXTRUDER_MOTION EXTRUDER=ex7 MOTION_QUEUE=
    SYNC_EXTRUDER_MOTION EXTRUDER=ex8 MOTION_QUEUE=
    SET_LED LED=mmb_neopixel RED=0.2 GREEN=0.0 BLUE=0.0 WHITE=0.0
   SET_LED LED=mmb_neopixel RED=0.0 GREEN=0.2 BLUE=0.0 WHITE=0.0 INDEX=5 TRANSMIT=1 #backwards
   _RUNOUT_SENSORS EXTRUDER=4
 {% endif %}

[extruder_stepper ex1]


extruder:extruder
step_pin:cp_kcm:PC11
dir_pin: !cp_kcm:PC10
enable_pin: !cp_kcm:PC12
microsteps: 16
rotation_distance: 7.757


[extruder_stepper ex2]


extruder:extruder
step_pin: cp_kcm:PA8
dir_pin: !cp_kcm:PC9
enable_pin: !cp_kcm:PC8
microsteps: 16
rotation_distance: 7.757


[extruder_stepper ex3]


extruder:extruder
step_pin: cp_kcm:PB15
dir_pin: !cp_kcm: PC6
enable_pin: !cp_kcm:PC7
microsteps: 16
rotation_distance: 7.757



[extruder_stepper ex4]


extruder: extruder
step_pin: cp_kcm:PB14
dir_pin: !cp_kcm:PB12
enable_pin: !cp_kcm:PB13
microsteps: 16
rotation_distance: 7.757