[mcu printaura]
serial: /dev/serial/by-id/usb-Klipper_rp2040_E66580664347232F-if00

[temperature_sensor printaura]
sensor_type: temperature_mcu
sensor_mcu: printaura
min_temp: 10
max_temp: 100

[led_effect calibrating_z]
autostart:              false
frame_rate:             24
leds:
    neopixel:aura0
    neopixel:aura1
    neopixel:aura2
    neopixel:aura3
layers:
        breathing  3 1 top (0.0, 0.0, 0.35)

[led_effect loading]
autostart:              false
frame_rate:             24
leds:
    neopixel:aura0
    neopixel:aura1
    neopixel:aura2
    neopixel:aura3
layers:
    breathing  3 1 top (0.0, 0.02, 0.5)

[led_effect heating_bed]
leds:
    neopixel:aura0 (1)
    neopixel:aura1 (1)
    neopixel:aura2 (1)
    neopixel:aura3 (1)
autostart:                          false
frame_rate:                         24
layers:
     breathing  3 1 top (1, 0.18, 0)

[led_effect heating_nozzle]
leds:
    neopixel:aura0 (2)
    neopixel:aura1 (2)
    neopixel:aura2 (2)
    neopixel:aura3 (2)
autostart:                          false
frame_rate:                         24
layers:
     breathing  3 1 top (1, 0.18, 0)

[led_effect homing]
autostart:              false
frame_rate:             24
leds:
    neopixel:aura0
    neopixel:aura1
    neopixel:aura2
    neopixel:aura3
layers:
        breathing  3 1 top (0.0, 0.6, 0.2)

[led_effect leveling]
autostart:              false
frame_rate:             24
leds:
    neopixel:aura0
    neopixel:aura1
    neopixel:aura2
    neopixel:aura3
layers:
        breathing  3 1 top (0.5, 0.1, 0.4)

[led_effect meshing]
autostart:              false
frame_rate:             24
leds:
    neopixel:aura0
    neopixel:aura1
    neopixel:aura2
    neopixel:aura3
layers:
        breathing  3 1 top (0.2, 1.0, 0.0)

[led_effect printing]
autostart:              false
frame_rate:             24
leds:
    neopixel:aura0
    neopixel:aura1
    neopixel:aura2
    neopixel:aura3
layers:
    gradient  0.3  1 add (0.3, 0.0, 0.0),(0.3, 0.3, 0.0),(0.3, 0.1, 0.0)

[led_effect rainbow]
leds:
    neopixel:aura0
    neopixel:aura1
    neopixel:aura2
    neopixel:aura3
autostart:                          true
frame_rate:                         24
layers:
    gradient  0.3  1 add (0.3, 0.0, 0.0),(0.0, 0.3, 0.0),(0.0, 0.0, 0.3)

[led_effect error]
leds:
leds:
    neopixel:aura0
    neopixel:aura1
    neopixel:aura2
    neopixel:aura3
layers:
    strobe         1  1.5   add        (1.0, 0, 0)
autostart:                             false
frame_rate:                            24


[led_effect set_top_leds_g]
leds:
    neopixel:aura0 (2)
    neopixel:aura1 (2)
    neopixel:aura2 (2)
    neopixel:aura3 (2)
autostart:                          false
frame_rate:                         24
layers:
    static         0  0     top        (0,  1.0, 0)
    
    


[gcode_macro status_ready]
gcode:
    STOP_LED_EFFECTS
    beep_stop
    SET_LED_EFFECT EFFECT=rainbow

[gcode_macro status_loading]
gcode:
    STOP_LED_EFFECTS
     beep_stop
    SET_LED_EFFECT EFFECT=loading

[gcode_macro status_error]
gcode:
    STOP_LED_EFFECTS
    beep_async
    SET_LED_EFFECT EFFECT=error
    
[gcode_macro status_heating_bed]
gcode:
    STOP_LED_EFFECTS
     beep_stop
    SET_LED_EFFECT EFFECT=set_top_leds_g STOP=1
    SET_LED_EFFECT EFFECT=heating_bed

[gcode_macro status_heating_nozzle]
gcode:
    STOP_LED_EFFECTS
     beep_stop
    SET_LED_EFFECT EFFECT=set_top_leds_g
    SET_LED_EFFECT EFFECT=heating_nozzle


[gcode_macro status_leveling]
gcode:
    STOP_LED_EFFECTS
     beep_stop
    SET_LED_EFFECT EFFECT=leveling
    

[gcode_macro status_homing]
gcode:
    STOP_LED_EFFECTS
     beep_stop
    SET_LED_EFFECT EFFECT=homing
    


[gcode_macro status_meshing]
gcode:
    STOP_LED_EFFECTS
     beep_stop
    SET_LED_EFFECT EFFECT=meshing
   
[gcode_macro status_calibrating_z]
gcode:
    STOP_LED_EFFECTS
     beep_stop
    SET_LED_EFFECT EFFECT=calibrating_z
  

[gcode_macro status_printing]
gcode:
    STOP_LED_EFFECTS
     beep_stop
    SET_LED_EFFECT EFFECT=printing

[delayed_gcode alarm_beep]
gcode:
 M300 P200
 {% set b_stop = printer["gcode_macro beep_async"].stop|default(0)|int %}
 {% if b_stop==0 %}
 UPDATE_DELAYED_GCODE ID=alarm_beep DURATION=0.5
 {% endif %}

[gcode_macro beep_async]
variable_stop: 0
gcode:
 SET_GCODE_VARIABLE MACRO=beep_async VARIABLE=stop VALUE=0
 UPDATE_DELAYED_GCODE ID=alarm_beep DURATION=0.5

[gcode_macro beep_stop]
gcode:
 SET_GCODE_VARIABLE MACRO=beep_async VARIABLE=stop VALUE=1

   


[output_pin beeper]
pin: printaura:gpio11  # Change this to your specific board pin (e.g., PC6, PE8, host:gpio12)
pwm: true
value: 0
shutdown_value: 0
cycle_time: 0.001 # 0.001s = 1ms = 1kHz tone (Default frequency)



[output_pin red1]
pin: !printaura:gpio9
pwm: False
value: 0
shutdown_value: 1

[output_pin red2]
pin: !printaura:gpio10
pwm: False
value: 0
shutdown_value: 1

[output_pin red3]
pin: !printaura:gpio19
pwm: False
value: 0
shutdown_value: 1

[neopixel aura3]
pin: printaura:gpio3
chain_count:2

[neopixel aura2]
pin: printaura:gpio2
chain_count:2

[neopixel aura1]
pin: printaura:gpio1
chain_count:2

[neopixel aura0]
pin: printaura:gpio0
chain_count:2


[gcode_macro M300]
gcode:
    # Use a default 1kHz tone if S is omitted.
    {% set S = params.S|default(1000)|int %}
    # Use a 100ms duration is P is omitted.
    {% set P = params.P|default(100)|int %}
    
    SET_PIN PIN=beeper VALUE=0.5 CYCLE_TIME={ 1.0/S if S > 0 else 1 }
    G4 P{P}
    SET_PIN PIN=beeper VALUE=0 CYCLE_TIME=0.001 # Reset to default
